.header {
  &__header__logo {
    animation: logo 3s infinite linear;
    transform-box: fill-box;
    transform-origin: center;
  }
}

@keyframes logo {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.main {
  &__down__arrow img{
    cursor: pointer;
    animation: slide-up 6s infinite ease-out forwards, pulse 2s 3s ease-out infinite ;
  }
  &__about__image svg #wheel1, &__about__image svg #wheel3{
    width: 90%;
    animation: wheel 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
   &__about__image svg #wheel2{
      animation: wheelReverse 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
   }
   &__about__image svg #hands{
      animation: roll 1s linear infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
   }
}

@keyframes roll{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(10deg);
  }
}

@keyframes wheel{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
@keyframes wheelReverse{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(-360deg);
  }
}

@keyframes slide-up {
   0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}


@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  50% {
    opacity: .8;
    -webkit-transform: scale(.8);
            transform: scale(.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}