.main {
  @include flexCenter;
  width: 100%;

  &__about__section {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
  }
 

  &__about__image svg {
    width: 90%;
  }
  &__about__section p {
    margin: 0;
    text-align: justify;
    text-align: center;
    @include capitalize;
    font-family: Georgia, serif;
    @include fontStyle;
  }
  &__about__section h2 {
    margin: 0;
    text-align: justify;
    text-align: center;
    @include capitalize;
    @include fontStyle;
  }
  &__about__article {
    width: 50%;
    @include flexCenter;
    margin-top: 100px;
  }
  &__about__section svg{
              margin-top:50px;

  }

  &__about__article h2 {
    margin-bottom: 20px;
    @include capitalize;
    @include fontStyle;
  }
  &__nav__button {
    @include flexCenter;
    margin: 0 auto;
    &:hover {
      background: $menuBgColor;
      @include btnhover;
    }
  }
  &__nav__div {
    @include flexCenter;
    text-align: center;
  }

  &__project__section div:first-of-type {
    border-bottom: 1px solid #000;
    text-align: center;
    width: 40%;
    margin: 100px auto;
  }

  &__project__article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 40px;
  }

  &__project__article nav {
    border: 1px solid grey;
    border-radius: 3%;
    @include flexCenter;
    text-align: center;
  }
  &__project__article p {
    @include flexCenter;
    text-align: center;
    padding: 20px;
    text-align: justify;
    @include capitalize;
    @include fontStyle;
  }
  &__project__article h2 {
    padding-top: 20px;
    @include capitalize;
    @include fontStyle;
  }

  &__project__article nav button {
    margin: 0 auto;
    @include flexCenter;
    text-align: center;
    align-items: center;
    margin: 30px;
  }
  &__project__article button {
    @include button;
    @include capitalize;
    &:hover {
      background: $menuBgColor;
      @include btnhover;
    }
  }

  &__fieldset__skills ul {
    display: flex;
    justify-content: space-between;
    background-color: $menuBgColor;
    list-style: none;
    padding: 20px;
  }
  &__fieldset__skills {
    width: 95%;
    margin: 0 auto;
  }
  &__fieldset__skills a {
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
  }

  &__experience__section {
    width: 70%;
    margin: 0 auto;
    &__img__container {
      align-items: center;
    }
  }

  &__experience__section p {
    text-align: justify;
    @include capitalize;
    width: 60%;
    margin: 0 auto;
    @include fontStyle;
  }
  &__experience__section h2,
  &__experience__section h3 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    @include capitalize;
    @include fontStyle;
  }
  &__experience__section div {
    display: flex;
    margin: 30px;
  }
  &__experience__section h1 {
    text-align: center;
    margin: 40px;
    @include capitalize;
    @include fontStyle;
  }
  &__experience__section button {
    @include button;
    margin: 30px;
    @include capitalize;
    &:hover {
      background: $menuBgColor;
      @include btnhover;
    }
  }

  &__experience__section article {
    margin: 0 auto;
    @include flexCenter;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .main {
    &__about__section {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 auto;
      text-align: center;
    }
    &__about__section article {
      margin: 0 auto;
      text-align: center;
    }
    &__project__article {
      display: grid;
      grid-template-columns: 1fr;
    }
    &__experience__section div {
      display: grid;
      grid-template-columns: 1fr;
      display: block;
    }
  }
}
