.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  background-color: #326e8c;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.header__header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
}

.header__header__logo a {
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}

.header__header__logo a:hover {
  background: #1565c0;
  color: #0f1406;
}

.header__header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.header__header__ul li {
  list-style: none;
  margin: 0;
  text-transform: capitalize;
}

.header__header__ul a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.header__header__ul a:hover {
  background: #fff;
  color: #0f1406;
}

@media screen and (max-width: 700px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #0f1406;
  }
  .header__header__ul {
    display: -ms-grid;
    display: grid;
    grid-template: 1fr;
  }
  .header__header__ul {
    text-align: center;
    margin: 0 auto;
  }
  .header__header__logo a {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
  }
}

.main {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.main__about__section {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 60px;
}

.main__about__section img {
  margin: 0;
}

.main__about__section p {
  margin: 0;
  text-align: justify;
  text-align: center;
  text-transform: capitalize;
  font-family: Georgia, serif;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.main__about__section h2 {
  margin: 0;
  text-align: justify;
  text-align: center;
  text-transform: capitalize;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.main__about__article {
  width: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__about__article h2 {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.main__nav__button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.main__nav__button:hover {
  background: #326e8c;
  -webkit-transition: 3s background ease;
  transition: 3s background ease;
}

.main__nav__div {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.main__down__arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #326e8c transparent transparent transparent;
  cursor: pointer;
}

.main__project__section div:first-of-type {
  border-bottom: 1px solid #000;
  text-align: center;
  width: 40%;
  margin: 100px auto;
}

.main__project__article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 40px;
}

.main__project__article nav {
  border: 1px solid grey;
  border-radius: 3%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.main__project__article p {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  text-align: justify;
  text-transform: capitalize;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.main__project__article h2 {
  padding-top: 20px;
  text-transform: capitalize;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.main__project__article nav button {
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  align-items: center;
  margin: 30px;
}

.main__project__article button {
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #7892c2),
    to(#476e9e)
  );
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  text-transform: capitalize;
}

.main__project__article button:hover {
  background: #326e8c;
  -webkit-transition: 3s background ease;
  transition: 3s background ease;
}

.main__fieldset__skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #326e8c;
  list-style: none;
  padding: 20px;
}

.main__fieldset__skills {
  width: 95%;
  margin: 0 auto;
}

.main__fieldset__skills a {
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}

.main__experience__section {
  width: 70%;
  margin: 0 auto;
}

.main__experience__section p {
  text-align: justify;
  text-transform: capitalize;
  width: 60%;
  margin: 0 auto;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.main__experience__section h2,
.main__experience__section h3 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.main__experience__section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
}

.main__experience__section h1 {
  text-align: center;
  margin: 40px;
  text-transform: capitalize;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.main__experience__section button {
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #7892c2),
    to(#476e9e)
  );
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  margin: 30px;
  text-transform: capitalize;
}

.main__experience__section button:hover {
  background: #326e8c;
  -webkit-transition: 3s background ease;
  transition: 3s background ease;
}

.main__experience__section article {
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .main__about__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
  }
  .main__about__section article {
    margin: 0 auto;
    text-align: center;
  }
  .main__project__article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .main__experience__section div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    display: block;
  }
}

.form__field {
  max-width: 500px;
  margin: 2rem auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
  margin-top: 50px;
}

.form__field label {
  display: block;
  text-transform: capitalize;
  padding: 1rem 0.5rem;
  font-size: 14px;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.form__field input,
.form__field textarea {
  display: block;
  width: 100%;
  border: 2px solid #326e8c;
  padding: 0.5 rem;
  border-radius: 5px;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.form__field__button {
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #7892c2),
    to(#476e9e)
  );
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  margin: 10px auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  text-transform: capitalize;
}

.form__field__button:hover {
  background: #326e8c;
  -webkit-transition: 3s background ease;
  transition: 3s background ease;
}

.footer {
  background: #326e8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.footer__contact__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer__contact__icons a {
  padding: 10px;
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  margin-right: 20px;
}

.footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .footer p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .footer__contact__icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.wrapper {
  position: relative;
}
/*# sourceMappingURL=style.css.map */
